<% if logged_in? %>
  <div class="row">
    <div class="col-md-4 ">
      <%= form_for(@task) do |f| %>
        <div class="form-group">
          <p>content:</p><%= f.text_area :content, class: 'form-control', rows: 4 %>
          <p>status:</p><%= f.text_area :status, class: 'form-control', rows: 4 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  
    <div class="col-md-8" style="margin-top: 30px">
      <%= render 'tasks/tasks', tasks: @tasks, user: @user %>
    </div>
</div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the TaskList</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>